includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
        - tools/release
        - tools/release.php
    tmpDir: .phpstan.cache
    treatPhpDocTypesAsCertain: true
